.container {
    padding: 10px;
}

.container-large {
    padding: 25px;
}

.padding-top {
    padding-top: 1vh;
}

@keyframes float {
    0% {
        transform: translatey(0px);
        color: rgba(128, 128, 128, 0.80);
        font-size: 50px;
    }

    50% {
        transform: translatey(-20px);
        color: rgba(128, 128, 128, 0.50);
        font-size: 40px;
    }

    100% {
        transform: translatey(0px);
        color: rgba(128, 128, 128, 0.70);
        font-size: 50px;
    }
}

#loading {
    animation: float 3s ease-in-out infinite;
    text-align: center;
    font-weight: bold;
}

.line-short {
    height: 30px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin: 25px;
    background: linear-gradient(to bottom, transparent 12px, grey 12px, grey 15px, transparent 15px);
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

.autotype {
    border-right: .1em solid black;
    width: 16.5em;
    width: 10ch;
    font: bold 300% Consolas, Monaco, monospace;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s infinite alternate steps(10, end), blink-caret .5s step-end infinite alternate;
}

.avatar {
    border-radius: 128px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(255, 255, 255, 0.5);

    transition: 0.6s;
    padding: 10px;

    max-width: 20%;
    max-height: 20%;
}

.avatar-out {
    opacity: 0.5;
    width: 64px;
    height: 64px;
    z-index: 101;
    left: 5px;
    top: 5px;
    position: absolute;
}

.avatar-out:hover {
    width: 96px;
    height: 96px;
}

.avatar-inside {
    opacity: 0.8;
    width: 25%;
    height: 25%;
    margin: 28px 28px 15px 35px;
}

.avatar-inside:hover {
    width: 30%;
    height: 30%;
}

.avatar:hover {
    transition: 0.6s;
    padding: 0px;
    opacity: 1;
}

.discord-image {
    margin-bottom: 50px;
    border-radius: 50px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(255, 255, 255, 0.25);
}

.adresse-marge{
    margin-bottom:50px;
}